/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body{
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

/* Header */
.header{
    height: 70px;
    width: 100%;
    display: inline-block;
    position: fixed;
}

/* Row-left */
.row-left{
    display: inline-block;
    float: left;
    height: 70px;
    width: 50%;
}
nav li{
    display: inline-block;
    padding: 0 25px;
    line-height: 70px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
/* Logo da centrare meglio */
.logo{
    padding: 20px 20px;
    vertical-align: middle;
    float: left;
}


/* Row right */
.row-right{
    display: inline-block;
    float: right;
    height: 70px;
    width: 50%;
}
.text-right{
    text-align: right;
}
.btn{
    float: right;
    padding: 0 20px;
    display: inline-block;
    line-height: 70px;
}
button{
    background-color: #0161ff;
    border: none;
    color: white;
    padding: 10px 15px;
}

/* Main - Hero*/
.container{
    background-color: #b4d0e7;
    height: 600px;
}
.hero{
    max-width: 75%;
    margin: auto;
}
h1{
    font-size: 60px;
    padding-top: 60px;
}
.hero-text-left{
    max-width: 40%;
    margin-top: 40px;
}