/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body{
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

/* Header */
.header{
    height: 70px;
    width: 100%;
    display: inline-block;
    position: fixed;
}

/* Row-left */
.row-left{
    display: inline-block;
    float: left;
    height: 70px;
    width: 50%;
}
nav li{
    display: inline-block;
    padding: 0 25px;
    line-height: 70px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
/* Logo da centrare meglio */
.logo{
    padding: 20px 20px;
    vertical-align: middle;
    float: left;
}


/* Row right */
.row-right{
    display: inline-block;
    float: right;
    height: 70px;
    width: 50%;
}
.text-right{
    text-align: right;
}
.btn{
    float: right;
    padding: 0 20px;
    display: inline-block;
    line-height: 70px;
}
button{
    background-color: #0161ff;
    border: none;
    color: white;
    padding: 10px 20px;
}

/* Main - Hero*/
.container{
    background-color: #b4d0e7;
    font-weight: 600;
}
.hero{
    max-width: 80%;
    margin: auto;
    padding-bottom: 70px;
}
h1{
    font-size: 65px;
    padding-top: 70px;
}
.hero-text-left{
    max-width: 30%;
    margin-top: 40px;
    font-size: 13px;
}
.btn-hero{
    font-size: 15px;
    margin-top: 20px;
}
.annullamento{
    margin-top: 10px;
    font-size: 12px;
}
i{
    font-size: 40px;
    margin-top: 30px;
}
.hero img:last-child{
    width: 730px;
    float: right;
    margin-top: -250px;
}